{% extends "bootstrap/base.html" %}
{% block title %} AWS S3 File Storage App{% endblock %}
{% block navbar %}

<!DOCTYPE html>
<html lang="en">


  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/storage">Storage</a></li>
            <li role="presentation"><a href="/teams">Teams</a></li>
            <li role="presentation" class="active"><a href="/players">Players</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">AWS S3 Storage App</h3>
      </div>

    
      <div class="jumbotron">
          
        <h3>Welcome S3 File Uploaders</h3>
        
        <p>AWS S3 Demo</p>
    
        <h2> {{ msg }}</h2>

      </div>
      
      <form method="post" action="/player">
            <div class="form-group"><input class="form-control" type="text" name="player" placeholder="Player"></div>
            <div class="form-group">
             <input type="submit" name="submit" value="Submit Favourite Player" class="btn btn-primary btn-block" style="background-color:#aedc8a;color:rgb(40,140,38);">
            </div>
        </form>

      <footer class="footer">
        <p></p>
      </footer>

    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>







{% endblock %}