{% extends "bootstrap/base.html" %}
{% block title %} AWS S3 File Storage App{% endblock %}
{% block navbar %}

<!DOCTYPE html>
<html lang="en">
  <body>

     <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/storage">My Storage</a></li>
            <li role="presentation"><a href="/teams">Teams</a></li>
            <li role="presentation"><a href="/players">Players</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Premier League App</h3>
      </div>

      <div class="jumbotron">
        <h3>S3 App Demo</h3>
    
        <p>Welcome to this AWS S3 Demo</p>
    
        <h2> {{ msg }}</h2>
    
        <div>
          <h1>Upload your file here:</h1>
          <form method="POST" action="/upload" enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
          </form>
        </div>
      </div>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% for item in contents %}
            <div class="col-md-6">
              <div class="card mb-6 box-shadow">
                <a href="/{{ item.Key }}">
                  <img src="{{ item.imageURL }}" alt="{{ item.Key }}" class="card-img-top" style="width:100%;height:400px;margin-top:10px;"/>
                </a>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

       <br/><br/>
      <footer class="footer">
        <p>&#169; 2020 | Ryan Bannon | Cloud Platform Programming</p>
      </footer>

    </div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
  </body>
</html>

{% endblock %}



