{% extends "layout.html" %}
{% block content %}
      <div class="jumbotron" style="margin-top:125px;">
        <h3>Premier League Team Vote</h3>
      </div>
      
      <form method="post" action="/team">
        <div>
          <h4>Premier League Teams:</h4>
          
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">League Position</th>
                <th scope="col">Games Played</th>
                <th scope="col">Points</th>
                <th scope="col">Vote</th>
              </tr>
            </thead>
            <tbody>
              {% for item in contents %} 
                <tr>
                  <th scope="row">{{ item.position }}</th>
                  <td scope="row">{{ item.played }}</th>
                  <td scope="row">{{ item.points }}</th>
                  <td><input type="submit" name="team" value="{{ item.team }}" class="btn btn-primary btn-block"/></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
{% endblock content %}