{% extends "bootstrap/base.html" %}
{% block title %} AWS S3 File Storage App{% endblock %}
{% block navbar %}

<!DOCTYPE html>
<html lang="en">


  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/storage">Storage</a></li>
            <li role="presentation" class="active"><a href="/teams">Teams</a></li>
            <li role="presentation"><a href="/players">Players</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">AWS S3 Storage App</h3>
      </div>

    
      <div class="jumbotron">
          
        <h3>Welcome S3 File Uploaders</h3>
        
        <p>AWS S3 Demo</p>
    
        <h2> {{ msg }}</h2>

      </div>
      
      <form method="post" action="/team">
        <div>
          <h3>Premier League Teams:</h3>
          
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">League Position</th>
                <th scope="col">Vote for your favourite Football Club</th>
              </tr>
            </thead>
            <tbody>
              {% for item in contents %} 
                <tr>
                  <th scope="row">{{ item }}</th>
                  <td><input type="submit" name="team" value="{{ item }}" class="btn btn-primary btn-block"/></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
      
       <br/><br/>
      <footer class="footer">
        <p>&#169; 2020 | Ryan Bannon | Cloud Platform Programming</p>
      </footer>

    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>







{% endblock %}