{"filter":false,"title":"requirements.txt","tooltip":"/CPP_Project/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":18,"column":0},"end":{"row":19,"column":0},"action":"insert","lines":["rb97-pkg-premier-league-colour-generator==0.0.1",""],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":25,"column":0},"end":{"row":25,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1607977466459,"hash":"0f2e4f4125a7d157736f20aafce6f49dd7448d09"}