{"filter":false,"title":"requirements.txt","tooltip":"/CPP_Project/application/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1608148663050,"hash":"0f2e4f4125a7d157736f20aafce6f49dd7448d09"}